@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');



*{
	font-family: "Lato";
	color:#1E212C;
	max-width:810px;
	margin:0 auto;
}

img{
	margin-bottom: 60px;
}

h1{
	font-weight: 900;
	font-size: 46px;
}

.bold{
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 24px;
	line-height: 1.5;
}

.paragraph-1{
margin-bottom: 24px;
}

.paragraph-2{
	margin-bottom: 48px;
}
p{
	font-size: 16px;
	line-height: 1.6;
}
.bold-2{
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 48px;
	line-height: 1.5;
}

.list-subtitle{
	margin-bottom: 24px;
}

li{
	margin-bottom: 4px;
	line-height: 1.6;
}

ul{
	margin-bottom: 74px;
}